
  
  html {
    scroll-behavior: smooth;
  }
  
  /*x*/
  
  
  body{
      margin: 0;
      font-family: 'Manrope', sans-serif;
      background-color: #e8e8e8;
      font-weight: 700;
      font-size: 20px;
      line-height: 1.6;
      color: #333;
  
  }

  .reverb{
    flex-direction: row-reverse;
  }
  
  *,
  *:befor,
  *:after{
      box-sizing: border-box;
  }
  
  h1,h2,h3,h4{
      margin: 0;
  }
  /*контейнер*/
  
  
  .container{
      width: 100%;
      max-width: 1230px;
      padding: 0 15px;
      margin: 0 auto;
  }

  .header{
    width: 100%;
    
    z-index: 1000;
  }

  .header_inner{
    padding: 15px 0px;
    display: flex;
    justify-content: space-between;
    align-items: center
  }

  .nav{
    display: flex;
  }

  .nav_link{
    display: block;
    width: 100%;
    text-decoration: none;
    color: #333;
    margin-right: 30px;
    border-radius: 30px;
    padding: 5px 10px;
    transition: .7s all linear;
    border: 1px solid;
    border-color: transparent;
    position: relative;
  }


  .nav_link:after{
    position: absolute;
    content: "";
    display: block;
    width: calc(100% - 20px);
    background-color: #759B74;
    transition: .3s all linear;
    height: 3px;
    opacity: 0;
  }

  .nav_link:hover::after{
    opacity: 1;
  }

  .logo{
    margin-left: 30px;
    display: block;
    width: 100px;
  }

 .logo_fix{
    display: block;
    position: relative;
    width: 200%;
  }


  /* Привет */
  .title_class{
    width: 100%;
  }

  .title_inner{ 
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 100px;
  }

  .title_text{
    display: flex;
    text-transform: uppercase;
    flex-direction: column;
    width: 35vw;
    position: relative;
  }

  .title_img{
  
    width: 30vw;
    height: 57vh;
    background: url(static/img/title_frame.jpg);
    -webkit-background-size: cover;
    background-size: cover;
    border: 1px rgb(85, 85, 85) solid;
    border-radius: 3px;
  }

  .title_block1{
    font-family: "Unbounded",sans-serif;
    font-size: 33px;

  }

  .title_block2{
    display: flex;
    flex-direction: row;
    margin-top: 15px;
  }

  .block2_text{

  }

  .block2_img{
    
  }

  .block2_button{
    font-family: "Unbounded",sans-serif;
    display: block;
    text-decoration: none;
    color: white;
    background-color: #759B74;
    height: 20px;
    border: 3px black solid;
    border-radius: 10px;
    height: auto;
    width: 50%;
    margin: 0 auto;
    margin-top: 75px;
    padding: 15px 30px;
    align-items: center;
    text-align: center;
    transition: .5s all;
  }

  .block2_button:hover{
    background-color: #c5cec5;
  }

  /* модели */

  #main{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 80px 0;

    position: relative;
  }

  .main_svg_icon{
    position: absolute;
    display: block;
    width: 50px;
    height: 50px;
    background: url(static/img/arrow_down.svg) no-repeat;
    top: -1%;

    animation: downUp 2s infinite ease-in-out;
  }

  /* анимация */
@keyframes downUp { 
  from {margin-top: 10px;}  
  50% {margin-top: 30px;}
  to {margin-top: 10px;}
}

  .title_main{
    margin-top: 30px;
    font-size: 65px;
    font-weight: 700;
    font-family: "Unbounded",sans-serif;
  }

  .models_frame{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70vw;
    margin-top: 140px;
  }

  .min_mt{
    margin-top: 80px;

  }


  .img_model{
    width: 30vw;
    height: 57vh;
    background: url(static/img/title_frame.jpg);
    -webkit-background-size: cover;
    background-size: cover;
  }

  .title_model{
    width: 30vw;
    
  }

  .name_model{
    font-weight: 700;
    font-family: "Unbounded",sans-serif;
  }

  .list_style{
    font-weight: 600;
    font-family: "Manrope",sans-serif;
  }


  /* услуги */


  .prices{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 10px;
    position: relative;
  }

  .zone_prices{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;

    margin-top: 50px;
  }

  #main_title_prices{
    margin-top: 30px;
    font-size: 65px;
    font-weight: 700;
    font-family: "Unbounded",sans-serif;
  }

  .item_prices{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px 25px;
    width: 300px;
    padding: 20px 10px;
    border: 1px black solid;
    height: 515px;
    border-radius: 20px;
    position: relative;
    box-shadow: 0px 0px 12px black;
    background-color: white;
  }

  .more_prices{
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 60px;
  }

  .buttom_prices{
    text-decoration: none;
    color: black;
    transition: .2s all;
    border: 2px black solid;
    padding: 5px 100px;
    border-radius: 10px;
    position: absolute;
    bottom: 5%;
    background-color: #759B74;
  }

  .buttom_prices:hover{
    background-color: transparent;
  }

  ._title_price{
    font-size: 30px;
    font-weight: 500;
    font-family: "Unbounded",sans-serif;
    text-decoration: underline;
  }

  .title_more{
    font-size: 35px;
    font-weight: 500;
    font-family: "Unbounded",sans-serif;
  }

